
{{ 'section-collection-grid.css' | asset_url | stylesheet_tag }}
<div class= "collection-grid-ctn"  data-aos="fade-in"  >
  
  
  <div class= "collection-grid__header">
    <div class= "collection-grid__title_decker">  
<h2 class= "collection-grid__title"  data-aos="fade-up"  data-aos-delay="100" data-aos-duration="800">{{ section.settings.header }}</h2>
</div>


</div>

<div class= "collection-grid__grid-ctn" data-aos="fade-up"  data-aos-delay="200" data-aos-duration="800">

{% for block in section.blocks %}
<a class= "collection-grid__grid-item" href="{{ block.settings.collection.url }}">
<div class= "collection-grid__img-ctn">

  {%- if block.settings.collection.image -%}
    <img src="{{ block.settings.collection.image | img_url: '300x300' }} "  loading="lazy" width="300"
      height="300"
      data-src="{{ block.settings.collection.image }}"
        data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
        data-aspectratio="{{ block.settings.image.aspect_ratio }}"
        data-sizes="auto"
        data-parent-fit="cover"
        alt="{{ block.settings.image.alt | escape }}"
    />  
    
  
  {%- endif -%}

<h3 class= "collection-grid__grid-title">{{ block.settings.collection.title }}</h3>

</div>
</a>
{% endfor %}
</div>
</div>

{% schema %}
{
"name":"Collection grid",
  "settings":[
           {
           "type":"text",
           "id":"header",
           "label":"Header"
            },   
             {
              "type":"text",
              "id":"linktext",
              "label":"Link Text"
               }
  ],
"blocks": [
       {
       "type":"collection",
      "limit":4,
      "name":"collection",
 "settings":[
           {
           "type":"collection",
          "id":"collection",
               "label":"Collection"
            }
  ]
   }

  ],
"presets": [
{
"name":"Collection grid"
}
]
}
{% endschema %}


