
{{ 'section-collection-table.css' | asset_url | stylesheet_tag }}
<div class= "collection-table-ctn"  data-aos="fade-in"  >
  
  <div class= "collection-grid__header">
    <div class= "collection-grid__title_decker">  
<h2 class= "collection-grid__title"  data-aos="fade-up"  data-aos-delay="1000" data-aos-duration="800">{{ section.settings.header }}</h2>
  </div>
</div>


<div class="compare-product-ctn">
    <div class="compare-products horizontal-scroll-wrapper rectangles">
  
        <div class="compare-product-item sticky">
            <ul class="compare-list compare-table-info">     
            <li class="bildhalter">
           Produktbild
            </li>   
            <li>
            Leistung in W
            </li>   
            <li>
                LEDs

            </li>   
            <li>
           Energieverbrauch [W]
            </li>   
            <li>
       
                Wellenlängen

            </li> 
            <li>
                Abstrahlwinkel


            </li> 
            <li>
                Strahlungsintensität


            </li> 
            <li>
                Lüfter
            </li>  

            <li>
           Abmessung
            </li> 
            <li>
                Gewicht [kg]

            </li> 
            <li>
           
            </li> 
            <li>
           
            </li> 
            <li>
           
            </li> 

        </ul>
    </div> 


  
        {% for block in section.blocks %}

      
    {% for product in  block.settings.collection.products %}
   <div class="compare-product-item">
        <ul class="compare-list">     
        <li>
            <a class= "collection-grid__grid-item" href="{{ product.url }}">  
       
                <img src="{{ product.featured_image | img_url: 'medium' }}"/>
            </a>               
            </li>
           <li>
                name:   {{ product.title}}                   
            </li>
            <li>
                {{ product.metafields.my_fields.led_leistung.value }}
                           
            </li>
            <li>
                {{ product.metafields.my_fields.leds.value }}        
    </li>
    <li>   
        {{ product.metafields.my_fields.energieverbrauch }}
          
</li>
<li>
        
    {{ product.metafields.my_fields.abstrahlwinkel}}
      
</li>

<li>
        
    {{ product.metafields.my_fields.strahlungsintensitaet}}
      
</li>
<li>
        
    {{ product.metafields.my_fields.luefter}}
      
</li>
<li>
        
    {{ product.metafields.my_fields.abmessung}}
      
</li>
<li>
        
    {{ product.metafields.my_fields.gewicht}}
      
</li>


<li>
        
    {{ product.metafields.my_fields.value}}

      
</li>
    <li>
   {{ product.price | money  }}<br>
                      
    </li>
    <li>
    <br>

    

            </li>
  



</ul>
</div>

    {% endfor %}
{% endfor %}
</div></div>
</div>
</div>

{% schema %}
{
"name":"Collection table",
  "settings":[
           {
           "type":"text",
           "id":"header",
           "label":"Header"
            },   
             {
              "type":"text",
              "id":"linktext",
              "label":"Link Text"
               }
  ],
"blocks": [
       {
       "type":"collection",
      "limit":2,
      "name":"collection",
 "settings":[
           {
           "type":"collection",
          "id":"collection",
               "label":"Collection"
            }
  ]
   }
 
  

  ],
"presets": [
{
"name":"Collection table",
"blocks": [
    {
      "type": "collection"
    }
   
  ]
}
]
}
{% endschema %}


