{{ 'section-hero.css' | asset_url | stylesheet_tag }}
<div class="hero-ctn" data-aos="fade-in" >

<div class="header-container" data-aos="fade-in" >
  {% if section.settings.title %}
    <h1 data-aos="fade-up">
     <span>
    {{ section.settings.title }}
     </span>
 </h1>
    {% endif %}

    {% if section.settings.infotext %}
      <p data-aos="fade-up" class="hero-infotext">
 
      {{ section.settings.infotext }}

      </p>
      {% endif %}
      {% if section.settings.zwischenheader %}
        <p data-aos="fade-up" class="hero-zwischenheader">
         <span >
        {{ section.settings.zwischenheader }}
         </span>
       
        </p>


        {% endif %}

      {% if section.settings.cta %}
        <p data-aos="fade-up" class="hero-cta">
  
         <span >
          {{ section.settings.cta }}
           </span>
        </p>

        
        {% endif %}

</div>
<img src="{{ 'bg_abstract-bg-large.svg' | asset_url }}" />
<div class="hero-collections">
<div class="hero-collections__card-ctn" >

{% for block in section.blocks %}
  {% assign delay = delay | plus: 300 %}
 <a class="hero-collections__card" href="collections/{{ block.settings.collection }}" alt="nuuva collection" data-aos="fade-up"   data-aos-delay="{{ delay }}">


 <div class="hero-collections__card--bg" style ="background-image:url({{ block.settings.image_bg | img_url: 'Medium' }})"></div>
   <div class="hero-collections__card--hover" style ="background-image:url({{ block.settings.image_hover | img_url: 'Medium' }})"></div>
     <h3 class="hero-collections__card-title">{{ block.settings.collection.title }}</h3>
 </a>
{% endfor %}
</div>
</div>


</div>





{% schema %}{
"name":"Hero",
"settings": [
  {
    "type": "text",
    "id": "title",
    "label": "Optional Header",
    "default": "Hero Header"
  },  
  {
    "type": "textarea",
    "id": "infotext",
    "label": "Text" 
  }, 
   {
    "type": "textarea",
    "id": "zwischenheader",
    "label": "Text" 
  },  
  {
    "type": "textarea",
    "id": "cta",
    "label": "Text" 
  }
],
"blocks": [
       {
       "type":"collection",
      "limit":3,
      "name":"Collection",
  "settings":[
           {
           "type":"collection",
           "id":"collection",
           "label":"Collection"
            },
          {
                           "type":"image_picker",
                           "id":"image_bg",
                           "label":"Image Background"
                          },
                       {
                                  "type":"image_picker",
                                  "id":"image_hover",
                                  "label":"Image Hover"
                       }    ]
   }

  ],
"presets": [
{
"name":"Hero"
}
]
}
{% endschema %}


